# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Archivos generados por PLY (compilador)
parser.out
parsetab.py

# Sistema operativo
.DS_Store
Thumbs.db
